#board{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr ;
  /* grid-template-columns: repeat();לחפש את זה */
}

.cardsClass {
    background-image: url("letter.png");  /* rgb(220, 137, 195);*/
    /* place-content: center; */
    /* color: #75629c; */
    /* object-fit: contain; */
    text-align: center;
    font-size: 300%;
     border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    width: 100px;
    height: 150px;
  }
.cardsClass:hover {
    position: relative;
    top: -5px; /* this will raise the element */
    padding-bottom: 10px;
    cursor:pointer;
}